:root {
    --sage: #A2A77F;
    --dark-sage: #75795b;
    --umber: #645244;
    --light-text: #fff;
    --dark-text: #37323E; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-text);
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "EB Garamond", serif;
}

ul {
    list-style: none;
} 

p {
    font-family: "Open Sans", sans-serif;
}

.navbar {
    background-color: var(--sage);
    width: 100%;
    height: 62px;
    font-size: 22px;
    font-family: "EB Garamond", serif;
    position: fixed;
    z-index: 4;
}

.navbar #name {
    float: left;
    padding: 20px 20px 0 20px;
}

.navbar #links {
    width: fit-content;
    float: right;
    transform: translateX(0);
    transition: none;
    opacity: 1;
    padding: 20px 15px;
}

.navbar #links a {
    padding: 0 15px;
}

.navbar #links a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navbar #links.active {
    transform: translateX(0);
    opacity: 1;
}


#toggle {
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 4;
    font-size: 22px;
}

.clear-overlay {
    background-color: #ffffff00;
}

#overlay1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
}

#overlay2 {
    width: 90vw;
    height: 62px;
    z-index: 5;
}

#about {
    background-color: var(--sage);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#intro {
    display: table;
}

#about h1 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.caret {
    font-size: 42px;
    padding: 2px 10px;
    border-radius: 50%;
    border: 2px solid #ffffff00;
    transition: border 0.5s ease-out;
    z-index: 3;
}

.caret:hover {
    border: 2px solid var(--dark-text);
    transition: border 0.5s ease-in;
}

#about .caret {
    position: absolute;
    bottom: 50px;
}

#description .caret {
    position: relative;
    margin-top: 100px;
}

#comp-sci .caret {
    position: relative;
    margin-top: 50px;
}

#fine-arts .caret {
    position: relative;
    margin-top: 50px;
}

.section {
    text-align: center;
    min-height: 100vh;
    max-height: fit-content;
}

.section h2 {
    margin-bottom: 20px;
}

#description {
    font-size: 18px;
    text-align: center;
}

.section .header {
    text-align: center;
    margin-top: 20px;
}

#description h2 {
    margin-bottom: 20px;
}

.section p {
    width: 80%;
    margin: 0 auto 20px auto;
}

#picture img {
    border-radius: 20px;
    width: 15%;
}

#picture {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#comp-sci {
    background-color: var(--sage);
}

#comp-sci .card {
    box-shadow: 0 4px 16px var(--dark-sage);
}

#fine-arts {
}

#fine-arts .card {
    box-shadow: 0 4px 16px #c4c4c4;
}

#contact {
    background-color: var(--sage);
}

.row {
    display: flex;
    flex-direction: row;
}

.section .row {
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-size: 16px;
}

.card .caption {
    width: 100%;
    background-color: white;
    padding-top: 0;
    margin-top: 0;
    border-radius: 0 0 10px 10px;
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    position: relative ;
    z-index: 5;
    font-family: "Open Sans", sans-serif;
}

form .row {
    flex-direction: column;
}

form label {
    width: 200px;
    text-align: left;
    font-weight: bold;
    margin: 15px auto 0 auto;
}

form input {
    height: 22px;
}

form input, textarea {
    width: 200px;
    margin: 5px auto 10px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}


form #submit {
    margin: 25px auto;
    background-color: var(--light-text);
    color: var(--dark-text);
    padding: 10px 15px;
    font-size: 18px;
    line-height: 18px;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid var(--dark-sage)
}

form #submit:hover {
    background-color: var(--dark-sage);
    color: var(--light-text);
    border: 2px solid var(--light-text);
    transition: background-color 0.3s ease;
}

@media screen and (max-width: 965px) {
    
    .navbar #name {
        width: 100%;
    }

    .navbar #links {
        background-color: var(--light-text);
        color: var(--umber);
        line-height: 48px;
        display: flex;
        flex-direction: column;
        text-align: center;
        opacity: 0;
        transform: translateX(100%);
        transition: none;
        padding: 0;
        box-shadow: 0 8px 16px var(--dark-sage);
        border-radius: 15px 0 0 15px;
        margin-top: 13px;
    }

    .navbar #links.allow-transition {
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .navbar #links.active {
        transform: translateX(0);
        opacity: 1;
    }

    .navbar #links a {
        padding: 15px;
    }

    .navbar #links a:hover {
        background-color: var(--umber);
        color: var(--light-text);
        border-radius: 15px 0 0 15px;
    }

    .caret {
        opacity: 0;
    }

    #toggle {
        display: block;
        cursor: pointer;
    }

    #about h1 {
        width: 80%;
    }

    .section {
        padding-bottom: 30px;
    }

    #description {
        height: fit-content;
    }

    #picture img {
        width: 40%;
    }

    #comp-sci {
        height: fit-content;
    }

    #fine-arts {
        height: fit-content;
    }

    #contact {
        height: fit-content;
    }

    .row {
        flex-direction: column;
    }

    .card {
        width: 80%;
        margin: 0 auto 25px auto;
    }
}