:root {
    --light-brown: #dccdb5;
    --brown: #a3885d;
    --dark-brown: #655436;
    --sand: #fffaed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--dark-brown);
    font-family: "Quicksand", sans-serif;
}

body {
    background-color: var(--sand);
}
header {
    width: 100%;
    height: 86px;
    margin-top: 10px;
    display: block;
}

header h1 {
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

#taskInput {
    width: fit-content;
    margin: 0 auto;
}

header input {
    float: left;
    height: 26px;
    margin-top: 10px;
    line-height: 26px;
    font-size: 14px;
    margin-right: 4px;
}

#addTask {
    display: block;
    float: left;
    margin: 10px auto;
    width: fit-content;
    padding: 5px;
    line-height: 14px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--light-brown);
    color: var(--dark-brown);
    border: 1px solid var(--brown);
    border-radius: 4px;
}

#addTask:hover {
    background-color: var(--dark-brown);
    border: 1px solid var(--dark-brown);
    color: white;
}

#board {
    display: block;
}

.label {
    text-align: center;
    margin-top: 10px;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
}

.container {
    width: 18%;
    height: 80vh;
    background-color: white;
    display: block;
    float: left;
    margin: 0 1%;
    position: relative;
    overflow: scroll;
    border: 1px solid var(--brown);
    border-radius: 8px;
    box-shadow: 0px 4px 8px var(--light-brown);
    font-size: 16px;
    line-height: 18px;
}

#todo > div {
    background-color: var(--light-brown);
}

#planned > div {
    background-color: #c8d8ec;
}

#progress > div {
    background-color: #fce173;
}

#overdue > div {
    background-color: #eac1c4;
}

#completed > div{
    background-color: #b9d58f;
}

.tasks {
    background-color: white;
    position: absolute;
    display: block;
    width: 80%;
    min-height: 20px;
    max-height: fit-content;
    left: 10%;
    z-index: 10;
    border: 1px solid var(--brown);
    border-radius: 4px;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
}

.tasks div {
    display: block;
    float: left;
    margin: 5px 5%;
    width: 90%;
    overflow-wrap: anywhere;
}

.tasks i {
    float: right;
    cursor: pointer;
    width: fit-content;
}

.tasks .pencil {
    margin: 5px;
}

.text {
    padding: 3px;
}

@media screen and (max-width:590px){
    #board {
        display: flex;
        flex-direction: column;
    }

    .container {
        max-height: 50vh;
        width: 80%;
        margin: 10px auto;
    }

}